<ion-view view-title="Favorites">
    <ion-content>
        <ion-list>
            <ion-item class="item-avatar" ng-repeat="song in favorites" ng-click="openSong(song)">
                <img ng-src="{{song.image_small}}">
                <h2>{{song.title}}</h2>
                <p>{{song.artist}}</p>
                <ion-option-button class="button-assertive" ng-click="removeSongFromFavorites(song,$index)">
                    <i class="ion-minus-circled"></i>
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>